@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex items-center justify-center;
}

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


